<header>
    <h1>My Campaigns</h1>
</header>

@if (@User.Identity.IsAuthenticated)
{
    <ul id="CampaignItems" data-bind="template: { name: 'CampaignInfoListTemplate', foreach: campaignList }"></ul>
    <!--<button data-bind="click: addCampaignInfo">Add new campaign</button>-->
    <p>Number campaigns: <b data-bind="text: campaignList().length"></b></p>
        
    
    <!-- Layouttabelle für Spielfeld und Menülisten -->
    <table>
        <tr>
            <td><span id="gcmlCampaignField" data-bind="with: loadedCampaign, style: { width: $root.fieldWidth() + 'px', height: $root.fieldHeight() + 'px', borderWidth: '5px', borderColor: $root.showcolor, borderStyle: 'none', float: 'left' }">
                <h1 data-bind="text: campaignName"></h1>
                <ol id="selectable" data-bind="foreach: sektorField">
                    <!-- ko foreach: $data -->
                    <li data-bind="click: $root.selectSektor, text: $data.sektorId, attr: { id: $data.sektorId }"></li>
                    <!-- /ko -->
                </ol>
            </span></td>
            <td>
                <div id="gcmlUnitList">
                    <ul>
                        <li>ccc</li>
                        <li>ccc</li>
                        <li>xxx</li>
                    </ul>
                </div>
                <div id="gcmlActionList"></div>
                <textarea data-bind="value: debug" rows="15" cols="50"></textarea>
            </td>
        </tr>
    </table>
    
    <style>
        #feedback {
            font-size: 1.4em;
        }

        #selectable .ui-selecting {
            background: #FECA40;
        }

        #selectable .ui-selected {
            background: #F39814;
            color: white;
        }

        #selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            #selectable li {
                margin: 3px;
                padding: 1px;
                float: left;
                width: 100px;
                height: 80px;
                font-size: small;
                text-align: center;
                border-style: solid;
                border-color: lightgray;
                border-width: 1px;
            }
    </style>
        
    
}
else
{
    <p>Sie sind nicht eingeloggt.</p>
}


@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/gcml")

        <script id="CampaignInfoListTemplate" type="text/html">
            <li>
                <span data-bind="text: campaignName, attr: { id: campaignId }"></span>&nbsp;
        <button data-bind="click: $root.loadCampaign"><small>Load</small></button>
            </li>
        </script>

        <script>
            //$(function () {
            //    alert("test");
            //    $("#selectable").selectable();
            //});
        </script>
    }
}



