<header>
    <h1>My CampaignInfos</h1>
</header>

    @if (@User.Identity.IsAuthenticated)
    {
        <ul id="CampaignItems" data-bind="template: {name: 'CampaignInfoListTemplate', foreach:  campaignList }"></ul>
        <!--<button data-bind="click: addCampaignInfo">Add new campaign</button>-->
        <p>Number campaigns: <b data-bind="text: campaignList().length"></b></p>
    
        <div id="gcmlCampaignField" data-bind="with: loadedCampaign">
            <h1 data-bind="text: campaignName"></h1>
        </div>
        
        <textarea data-bind="value: debug" rows="15" cols="50"></textarea>
    }
    else
    {
        <p>Sie sind nicht eingeloggt.</p>
    }



@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/gcml")
    }
}


<script Id="CampaignInfoListTemplate" type="text/html">
    <li>
        <span data-bind="text: campaignName, attr: {id: campaignId}"></span>&nbsp;<button data-bind="click: $root.loadCampaign"><small>Load</small></button>
    </li>
</script>
