@model GenericCampaignMasterModel.CampaignInfo

@{
    ViewBag.Title = "Create new Campaign";
    Layout = "~/Views/Shared/_GcmlLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CampaignInfo</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(c => c.campaignName)</td>
                <td>@Html.TextBoxFor(c => c.campaignName)</td>
            </tr>
            <tr>
                <td>@Html.Label("fieldx")</td>
                <td>@Html.TextBox("fieldx", 6, new { size = "5" })</td>
            </tr>
            <tr>
                <td>@Html.Label("fieldy")</td>
                <td>@Html.TextBox("fieldy", 6, new { size = "5" })</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
