@model GenericCampaignMasterModel.CampaignInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GcmlLayout.cshtml";
}

<h2>@Model.campaignName</h2>
<i>@Model.campaignId</i>

<fieldset>
    <legend>CampaignInfo</legend>
</fieldset>
<p>
    <div id="campaignArea">
        <div id="field">
        </div>
    </div>

    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    <!-- Mustache Templates -->
    <script src="~/Scripts/mustache.js"></script>
    <script id="tplCampaign" type="text/html">
        <div id="campaignInfo">
            {{#Campaign}}
                <h3>{{campaignName}}</h3>
                {{#players}}
                    <b>{{playerName}}</b>
                {{/players}}
            {{/Campaign}}
        </div>
    </script>

    <script id="tplField" type="text/html">
      <table>
        {{#ListSektors}}
          <tr>
              <td>{{sektorId}}</td>
          </tr>
        {{/ListSektors}}
       </table>
    </script>

    <script>
        $(function () {
            $.getJSON(gameUrl('@Model.campaignId'), function (data) {
                //alert(data.Campaign.campaignName);
                //$.each(data, function (key, val) {
                //    $("#field").append("<p>" + key + " : " + val + "</p>");
                //});
                var html = Mustache.render($("#tplCampaign").html(), data);
                var sektors = Mustache.render($("#tplField").html(), data);
                $("#field").html(html);
                $("#field").append(sektors);
                
            });

        });



        function gameUrl(id) { return "/api/game/" + (id || ""); }
    </script>



}